.entry-content .wp-block-clemson-apply,
.wp-block-clemson-apply {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .entry-content .wp-block-clemson-apply a.applyBtn,
  .wp-block-clemson-apply a.applyBtn {
    border-radius: 4px;
    background: #f66733;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #f66733), color-stop(50%, #f66733), color-stop(100%, #f55434));
    background: linear-gradient(to bottom, #f66733 0%, #f55434 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f66733', endColorstr='#f55434', GradientType=0 );
    padding: 1rem 1.8rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-family: arial, helvetica, 'sans-serif';
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25), 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    transition: box-shadow .125s ease-in-out; }
  .entry-content .wp-block-clemson-apply a.applyBtn:hover,
  .wp-block-clemson-apply a.applyBtn:hover {
    background: #f66733;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f66733', endColorstr='#f55434', GradientType=0 );
    box-shadow: none; }
  .entry-content .wp-block-clemson-apply .margin-right-10,
  .wp-block-clemson-apply .margin-right-10 {
    margin-right: 10px; }
  .entry-content .wp-block-clemson-apply svg,
  .wp-block-clemson-apply svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-top: -3px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2)); }
  .entry-content .wp-block-clemson-apply svg .pawSVG,
  .wp-block-clemson-apply svg .pawSVG {
    fill: rgba(255, 255, 255, 0.95); }
.wp-block-clemson-majors {
  border: 1px solid #f66733;
  padding: 20px; }

.entry-content .wp-block-clemson-majors {
  padding: 20px;
  border: none;
  border-left: 10px solid #f66733;
  -o-border-image: linear-gradient(to bottom, #f66733 0%, #f55434 100%);
     border-image: linear-gradient(to bottom, #f66733 0%, #f55434 100%);
  border-image-slice: 1;
  margin-top: 2rem; }
